In [9]:
#ip no of strings;count the no of string whose length is atleast 2 and the first and last character is same.
n=int(input("enter count for strings:"))
string=[]
count=n
count1=0
i=0
while(n!=0):
        a=input("enter a string:")
        string.append(a)
        n-=1
while(count!=0):
        length=len(string[i])
        if(length>=2):
           if(string[i][0]==string[i][-1]):
                count1+=1
        i+=1
        count-=1
print("TOTAL COUNT OF SUCH STRINGS:",count1)

enter count for strings:3
enter a string:abb
enter a string:aa
enter a string:abc
TOTAL COUNT OF SUCH STRINGS: 1

In [11]:
a=[2,9,5,8,3,15,12,32]
b=[x for x in a if x%2==0]
print(b)

[2, 8, 12, 32]

In [19]:
string=[]
b=[]
count1=0
i=0
while(n!=0):
        a=input("enter a string:")
        string.append(a)
        n-=1
b=[ string for x in string if len(x)>=2 if(string[i][0]==string[i][-1]) ]
print(b)

[]

In [20]:
name="RAHUL"
age=12

In [21]:
print(name,"is",age,"years old")

RAHUL is 12 years old

In [22]:
s1="%s is %d years old"%(name,age)
print(s1)

RAHUL is 12 years old

In [24]:
s2="{} is {} years old".format(name,age)
print(s2)

RAHUL is 12 years old

In [25]:
s2="{0} is {1} years old".format(name,age)
print(s2)

RAHUL is 12 years old

In [26]:
s2="{1} is {0} years old".format(name,age)
print(s2)

12 is RAHUL years old

In [29]:
s2="{name} is {age} years old"

.format(name,age)
print(s2)

KeyError: 'name'

In [30]:
s2="{name} is {age} years old".format(name="rahul",age=12)
print(s2)

rahul is 12 years old

In [33]:
s2="{myfriend} is {age} years old".format(myfriend=name,age=age)
print(s2)

RAHUL is 12 years old

In [41]:
list1=["manali","shimla","manali","sikkim","shimla"]

In [43]:
del list1[1]
print(list1)

['manali', 'manali', 'sikkim', 'shimla']

In [42]:
list1.items()

AttributeError: 'list' object has no attribute 'items'

In [49]:
j=0
list1=["manali","shimla"]
for i in list1:
    x=list1.count(list1[j])
    if(x==2):
        break
if(x==2):
     print("list contains duplicate")
else:
    print("list does not contains duplicate")

list does not contains duplicate

In [52]:
j=0
list2=[]
list3=[]
list1=["manali","shimla","sikkim","manali","manali","shimla","sikkim","manali"]
for i in list1:
    x=list1.count(list1[j])
    if(x==2):
        list2.append(list1[j])
    else:
        list3.append(list1[j])
    j+=1
print("LIST OF DUPLICATES:",list2)
print("LIST OF NON-DUPLICATES:",list3)

LIST OF DUPLICATES: ['shimla', 'sikkim', 'shimla', 'sikkim']
LIST OF NON-DUPLICATES: ['manali', 'manali', 'manali', 'manali']

In [54]:
j=0
list2=[20,50,70]
list3=[]
list1=[10,20,30,40,50]
l4=set(list1).intersection(list2)
print(l4)

{50, 20}

In [55]:
list2=[20,50,70]
list3=[]
list1=[10,20,30,40,50]
l3=[x for x in list1 if x in list2]
print(l3)

[20, 50]

In [57]:
l5=set(list1)&set(list2)
print(l5)

{50, 20}

set

In [59]:
a=set(list1)|set(list2)
print(a)

{50, 20, 70, 40, 10, 30}

In [69]:
my_matrix=[[1,2,3],
           [4,5,6],
          [7,8,9]]
for row in my_matrix:
    for e in row:
        print(e,end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [71]:
my_matrix=[[1,2,3],
           [4,5,6],
          [7,8,9]]
list=[]
for row in my_matrix:
    for e in row:
        list.append(e)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
my_matrix=[[1,2,3],
           [4,5,6],
          [7,8,9]]
list1=[e for row in my_matrix for e in row]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]